$topbar-height: 12vh;
$techtips-article-width: 80vw;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata';
}

main {
    display: block;
    background-image: url('/images/circles-dark/circles-dark.png');
    top: 0;
    overflow-x: hidden;
    width: 98.6vw;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

footer {
    background: rgba(102, 217, 242, 0.8);
    color: #494949;
    font-size: 1.5em;
    padding: 10px;
}

.topbar-element-large {
    transition: all 0.8s;
    height: $topbar-height;
}

.topbar-element-small {
    height: 6vh;
}

.topbar-wrapper-large {
    background: rgba(55, 55, 55, 0.7);
}
.topbar-wrapper-small {
    background: rgba(55, 55, 55, 0.9);
}

.topbar-button {
    font-size: 2em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;
    padding: 0 15px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
}
.topbar-button:hover {
    background: rgba(45, 45, 45, 0.5);
}

.topbar-current-button {
    background: rgba(102, 217, 242, 0.8);
}
.topbar-current-button:hover {
    background: rgba(92, 207, 232, 0.8);
}

.main-page-welcome-message {
    font-family: 'Inconsolata';
    font-size: 4em;
    font-weight: bold;
    padding: 0 50px;
    display: inline;
    background: rgba(102, 217, 242, 0.8);
    color: #494949;
    margin-bottom: 10px;
    margin-right: 5vw;
}

.go-to-blog-message {
    color: rgba(255, 59, 56, 0.8);
}

.blog-post {
    background: rgba(55, 55, 55, 0.8);
    border: rgba(55, 55, 55, 0.8) 10px solid;
    margin-bottom: 20px;
}

.blog-post-title {
    background: rgba(55, 55, 55, 0.7);
    color: rgba(255, 255, 255, 0.9);
    font-size: 3em;
    font-family: 'Inconsolata';
    margin: 0;
    font-weight: normal;
}

.blog-post-article-preview {
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}
.blog-post-read-more {
    margin: 5px;
    color: rgba(82, 197, 222, 1.0);
    text-decoration: underline;
    cursor: pointer;
}
.about-page-aside-img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}
.previous-client-image-wrapper {
    position: relative;
    cursor: pointer;
}
.previous-client-image-wrapper:hover {
    filter: saturate(2);
}
.previous-client-image-description {
    position: absolute;
    background: rgba(55, 55, 55, 0.5);
    color: rgba(255, 255, 255, 1.0);
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3em;
    text-align: center;
    border-radius: 20%;
    margin-bottom: 10px;
}

#techtips-main-content-wrapper {
    margin-top: $topbar-height + 3vh;
    margin-left: 20px;
}
#twitter-follow-plea {
    display: inline-block;
    display: none;
}

#twitter-icon {
    width: 40px;
    margin-top: 10px;
}

#book-endorsement-container {
    padding: 10px;
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
    color: #393939;
    width: 100px;
    bottom: 25px;
    right: 15px;
    cursor: pointer;
    border-radius: 20px;
}
#book-endorsement-container:hover {
    background: rgba(255, 255, 255, 0.9);
}

#topbar-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}

#main-page-welcome {
    margin-top: $topbar-height / 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#main-page-welcome-image {
    width: 100vw;
    top: 0;
}

#about-page-client-picture {
    width: 30vw;
    border-radius: 80%;
    margin-right: 20px;
}
#about-page-main-container {
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: space-around;
}

#about-page-story-container {
    flex: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 59, 56, 0.6);
    padding: 10px;
}
#about-page-story {
    margin-top: $topbar-height;
    color: rgba(255, 255, 255, 1.0);
    font-size: 2em;
}
#about-page-aside {
    padding: 10px;
    flex: 1;
    margin-top: $topbar-height;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#about-page-aside-title {
    font-size: 1.7em;
    color: rgba(55, 55, 55, 0.9);
    background: rgba(255, 255, 255, 0.5);
}

#techtips-outer-main-content-wrapper {
    width: $techtips-article-width;
}
#techtips-main-content-wrapper {
    width: $techtips-article-width;
    margin: 0;
    margin-top: $topbar-height + 1vh;
}
#techtips-sidebar {
    right: 0;
    top: $topbar-height;
    position: fixed;
    width: 98.5vw - $techtips-article-width;
    height: 100vh - $topbar-height;
    /*background: rgba(255, 59, 56, 0.6);*/
    /*background: rgba(55, 55, 55, 0.9);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#techtips-sidebar a {
    color: rgba(255, 255, 255, 0.9);
    color: rgba(285, 165, 0, 0.9);
    /*border: orange 1px solid;*/
    margin: 10px;
}
#techtips-sidebar a:visited {
    color: rgba(285, 125, 0, 0.9);
}
#techtips-sidebar img {
    position: relative;
    flex: 1;
    width: 98.5vw - $techtips-article-width;
}

#page-content-wrapper {
    position: absolute;
    top: 0;
    width: 98.1vw;
}
