body {
  color: #222; }

.section-header {
  color: #111; }

.code-block {
  font-size: 1.3em; }

.info-paragraph {
  font-family: sans-serif;
  color: #222; }

.definition {
  font-weight: bold; }

#top-of-page-arrow {
  font-size: 3em;
  color: black;
  opacity: 0.6;
  position: fixed;
  right: 10px;
  bottom: 10px; }

#top-of-page-arrow:hover {
  opacity: 1; }

#gnu-mascot {
  height: 80px; }

/*# sourceMappingURL=techtips.css.map */
